# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

## data science languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. Java

## data science libraries
Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Matplotlib

## table of Data Science tools
|Data Science Tools|
:--:
|Jupyter Notebooks|
|Google Colab|
|R Studio|

## introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

## multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

## convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## list Objectives

**Objectives:**
Here are some objectives we learn in this course 
* Learn any language
* Exploratory Data Analysis
* Model Building

## indicate the Author's name

### Author 
Muqarrish Zaib